body {
    /* margin: 0; */
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e9d9d9;
    color: #050505;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.heading {
    font-size: 50px;
    margin-left: 30rem;
}

.header-right {
    display: flex;
}

.header-button {
    background-color: #161313;
    color:white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none; /* Remove default link underline */
}

.header-button:hover {
    background-color: #cebbbb;
    /* Blue color */
}

.link{
    color: white;
    text-decoration: none;
}
