/* Home.module.css */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #f0f0f0;
}

.home img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
